{% extends 'basic/basic.html' %}

{% block main %}

<h1>Welcome to <nobr>Code-in-Mind</nobr></h1>
<hr>
<h3>What are you interested in?</h3>

<div class="card-section">
    <div class="home-card">
        <a href="polls/">
            <h2>Blog</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="polls/">
            <h2>Voting</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="storage/">
            <h2>Storage</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="admin/">
            <h2>Development</h2>
        </a>
    </div>
</div>
{% endblock main %}