{% extends 'basic/basic.html' %}

{% block main %}

<h1>Welcome to SomeDjangoApps</h1>
<hr>
<h2>This is a collection of little Django 3.0 Apps</h2>

<h3>What are you interested in?</h3>

<!--All the installed Apps-->

<div class="card-section">
    <div class="home-card">
        <a href="{% url 'polls:index' %}">
            <h2>Polls</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="#">
            <h2>Users</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="{% url 'storage:index' %}">
            <h2>Storage systems</h2>
        </a>
    </div>

    <div class="home-card">
        <a href="admin/">
            <h2>Admin</h2>
        </a>
    </div>
</div>
{% endblock main %}