//Polls
.poll{
    background-color: color(tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    a {
        display: flex;
        align-items: center;
    }
}