//Polls

.poll-list{
    .poll{
        background-color: color(tertiary);
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-radius: 1rem;
        margin: 1rem auto;
        a {
            display: flex;
            align-items: center;
        }
    }
}
.poll-results{
    padding: 2rem;
    border-radius: 2rem;
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: darken(color(primary), 20%);
    .poll-choices{
        display: flex;
        justify-content: space-evenly;
    }
}