.card{
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid rgb(99, 90, 90);
    text-align: initial;
    h2{
        background-color: color(secondary);
        display: inline;
        padding: .3rem;
        border-radius: .4rem;
    }

}